body {
  padding-top: 69px;
}
body .navbar-header a.navbar-brand {
  margin-top: -15px;
  margin-bottom: -20px;
}
body .navbar-header a.navbar-brand h6 {
  color: #ccc;
}
body footer {
  padding-left: 15px;
  padding-right: 15px;
}
body footer p {
  border-top: 1px solid #d7e0e2;
}
