.navbar-right(ng-controller="NavBarLoginCtrl")
  form.navbar-form
    ul.nav.navbar-nav
      li
        a(href="/signup") Sign up
    .form-group
      input.form-control(placeholder="Email", ng-model="username")
    